---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LatestVideos from '../components/LatestVideos';
---

<Layout>
	<main>
		<Hero />
    <LatestVideos client:visible />
	</main>
</Layout>
