---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News";
import Lessons from "../components/Lessons";
import YouTube from "../components/YouTube";
import Audio from "../components/Audio";
import LiveStream from "../components/LiveStream";
import Books from "../components/Books";
import Testimonials from "../components/Testimonials";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<News />
		<Lessons />
		<YouTube />
		<Audio client:load />
		<LiveStream />
		<Books />
		<Testimonials client:load />
		<Contact client:load />
	</main>
	<Footer />
</Layout>
