---
import "../styles/global.css";
---

<!doctype html>
<html lang="ar" dir="rtl" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
		<title>فضيلة الدكتور يسري جبر | Dr. Yosry Gabr</title>
	</head>
	<body class="bg-slate-50 text-slate-900 font-cairo antialiased selection:bg-emerald-500 selection:text-white overflow-x-hidden">
		<slot />
	</body>
</html>
